.container {
    padding: 0 4rem;
}
* {
    outline: none;
    letter-spacing: -0.4px;
}
main,
body,
#__next {
    width: 100vw;
    overflow-x: hidden;
}
.carousel .swiper-wrapper {
    transition-timing-function: linear;
}

@media (max-width: 768px) {
    .container {
        padding: 0 1.4rem;
    }
}
